{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="center-wrapper">

    <div class="app-card text-center">

        <h2>Welcome to OneID</h2>

        <p class="text-muted">
            Secure Identity Dashboard
        </p>

        <div class="alert alert-success mt-3">
            ✔ Identity Verified
        </div>

        <p>
            <strong>OneID Number:</strong><br>
            {{ user.oneid_number }}
        </p>

        <div class="d-flex justify-content-center gap-3 flex-wrap mt-4">

            <a href="/profile" class="btn btn-primary btn-lg">
                My Profile
            </a>

            <a href="/history" class="btn btn-primary btn-lg">
                Login History
            </a>

            <a href="/logout" class="btn btn-danger btn-lg">
                Logout
            </a>

        </div>
</div>

    </div>

</div>

{% endblock %}